{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V1</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
<link rel="icon" type="image/png" href="{% static 'home_page/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="{% static 'home_page/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="{% static 'home_page/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="{% static 'home_page/vendor/animate/animate.css' %}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="{% static 'home_page/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="{% static 'home_page/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->

<link rel="stylesheet" type="text/css" href="{% static 'home_page/css/main.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'home_page/css/util.css' %}">
<!--===============================================================================================-->
</head>
<body>

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 small">
				<div class="login100-pic js-tilt" data-tilt>
					<img src="{% static 'home_page/images/img-01.png' %}" alt="IMG">

					<div class="text-center p-t-12">


				</div>
				</div>

				<form class="login100-form validate-form" action="sign_up" method="POST">
					<span class="login100-form-title p-b-59">
						Congratulation! Your account was created successfully.
					</span>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
						</div>

						<a href="/" class="dis-block txt3 hov1 p-r-30 p-t-10 p-b-10 p-l-30">
							<span class="txt2">
							Sign in
							<i class="fa fa-long-arrow-right m-l-5"></i>
							</span>
						</a>
					</div>


				</form>

			</div>
		</div>
	</div>



<!--===============================================================================================-->
	<script src="{% static 'home_page/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'home_page/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'home_page/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'home_page/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'home_page/vendor/tilt/tilt.jquery.min.js' %}"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
<!--===============================================================================================-->
	<script src="{% static 'js/main.js' %}"></script>

</body>
</html>
